<h2 class="text-center">{{currentHour | greeting}}{{name}}</h2>
<div class="row bottomMargin">
    <h3 class="col-md-1"></h3>
    <h3 class="col-md-3">Today is {{currentDate | date : "EEEE"}}.</h3>
    <h3 class="col-md-6" *ngIf="currentList">Here is your {{currentList.listName}} to do list for {{currentDate | date :
        "EEEE"}}.</h3>
</div>

<div *ngIf="currentList">
    <div *ngFor="let item of currentList.listItems" class="checkbox">
        <div class="col-md-4"></div>
        <input type="checkbox" [(ngModel)]="selected[item]">
        <list-item [itemName]="item"></list-item>
    </div>

    <div>
        <form (ngSubmit)="addItem()" *ngIf="myLists.length">
            <div class="col-md-1"></div>
            <div class="form-inline">
                <div class="col-md-3">Add an item to your list:</div>
                <div class="col-md-8"><input type="text" class="form-control" [(ngModel)]="newItemName" name="text"/></div>
            </div>
        </form>
    </div>

    <div *ngIf="itemError">
        <div class="col-md-4"></div>
        <div class="col-md-8">Please do not put in a duplicate item</div>
    </div>

    <div class="row" *ngIf="currentList.listItems.length">
        <div class="col-md-4"></div>
        <div class="col-md-3">
            <button class="btn btn-warning" (click)="clearCompleted()">
                Clear Completed Items
            </button>
        </div>
        <button class="btn btn-danger" (click)="clearItems()">
            Clear List
        </button>
    </div>
</div>

<div>
    <form (ngSubmit)="addList()">
        <div class="col-md-4"></div>
        <label class="form-inline col-md-8">
            <input type="text" class="form-control" [(ngModel)]="newListName" name="text">
            <button class="btn btn-primary">Create List</button>
        </label>
    </form>
</div>

<div *ngIf="listError">
    <div class="col-md-4"></div>
    <div class="col-md-8">Please do not put in a duplicate list</div>
</div>

<div>
    <button class="btn btn-danger" (click)="clearLists()" *ngIf="myLists.length">Delete Lists</button>
</div>

<div *ngIf="myLists.length">
    <ul class="nav nav-tabs myFooter">
        <li *ngFor="let list of myLists">
            <a data-toggle="tab">
                <list-tab [listName]="list.listName"></list-tab>
            </a>
        </li>
    </ul>
</div>
